# Prepare data

In [22]:
import pandas as pd
columns = ['game id', 'move id', 'player id', 'column', 'winner']
data = pd.read_csv('c4-50k.csv', header=None, names=columns)

data.head(3)

   game id  move id  player id  column  winner
0       11        0         -1       4       1
1       11        1          1       2       1
2       11        2         -1       4       1

In [23]:
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 0)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 1)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 2)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 3)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 4)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 5)]))
print(len(data.loc[(data['move id'] == 0) & (data['column'] == 6)]))

2642
4068
6167
12606
9274
8211
7032

In [24]:
column_names = []
for i in range(6*7):
    column_names.append("current_" + str(i))
column_names.append("player")
column_names.append("nextmove column")
board_df = pd.DataFrame(columns=column_names)
board_df.describe()

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_34,current_35,current_36,current_37,current_38,current_39,current_40,current_41,player,nextmove column
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
import copy
def generate_boards():
    for game_id in data['game id'].unique():
        current_board = [[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0]]
        for move_id in data.loc[data['game id'] == game_id]['move id'].unique():
            next_board = copy.deepcopy(current_board)
            
            # update next board
            column = data.loc[(data['game id'] == game_id) & (data['move id'] == move_id)]['column'].unique()[0].item()
            player = data.loc[(data['game id'] == game_id) & (data['move id'] == move_id)]['player id'].unique()[0].item()
            winner = data.loc[data['game id'] == game_id]['winner'].unique()[0].item()
            
            for row in range(6):
                if next_board[row][column] == 0:
                    next_board[row][column] = player
                    break
            
            # if next board move comes from a winning player keep data
            if player == winner:
                full_board = copy.deepcopy(current_board)
                full_board.append([player])
                full_board.append([column])
                flat_board = [item for sublist in full_board for item in sublist]
                
                board_df.loc[len(board_df)] = flat_board
            
            # set the new move as the next current move
            current_board = copy.deepcopy(next_board)

In [26]:
generate_boards()

In [27]:
board_df.head(5)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_34,current_35,current_36,current_37,current_38,current_39,current_40,current_41,player,nextmove column
0,0,0,0,0,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
1,0,0,1,0,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
2,0,0,1,1,-1,0,-1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,1,1,-1,0,-1,0,0,-1,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-1,3

In [28]:
board_df.to_csv('board_data.csv', index=False)

In [29]:
import pandas as pd
import numpy as np

data = pd.read_csv('board_data.csv')
data = data.groupby(data.columns.tolist(),as_index=False).size()
data['total_0'] = np.where(data['nextmove column'] == 0, data['size'], 0)
data['total_1'] = np.where(data['nextmove column'] == 1, data['size'], 0)
data['total_2'] = np.where(data['nextmove column'] == 2, data['size'], 0)
data['total_3'] = np.where(data['nextmove column'] == 3, data['size'], 0)
data['total_4'] = np.where(data['nextmove column'] == 4, data['size'], 0)
data['total_5'] = np.where(data['nextmove column'] == 5, data['size'], 0)
data['total_6'] = np.where(data['nextmove column'] == 6, data['size'], 0)
data.head(3)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,player,nextmove column,size,total_0,total_1,total_2,total_3,total_4,total_5,total_6
0,-1,-1,-1,0,-1,1,-1,0,0,0,...,-1,3,1,0,0,0,1,0,0,0
1,-1,-1,-1,0,-1,1,0,0,1,0,...,-1,3,1,0,0,0,1,0,0,0
2,-1,-1,-1,0,-1,1,1,-1,0,0,...,-1,3,1,0,0,0,1,0,0,0

In [30]:
data = data.drop(columns=["nextmove column", "size"])

In [31]:
column_names = []
for i in range(6*7):
    column_names.append("current_" + str(i))
column_names.append("player")

data = data.groupby(column_names,as_index=False).sum()
data.loc[data['total_0'] > 5].head(3)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_40,current_41,player,total_0,total_1,total_2,total_3,total_4,total_5,total_6
23362,-1,0,0,0,0,0,0,0,0,0,...,0,0,1,31,46,91,214,106,105,60
23372,-1,0,0,0,0,0,1,0,0,0,...,0,0,-1,12,9,8,33,16,14,18
23418,-1,0,0,0,0,1,0,0,0,0,...,0,0,-1,8,5,21,37,27,13,19

In [32]:
data['total'] = data[['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5', 'total_6']].sum(axis=1)
data.loc[data['total'] > 5].head(3)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_41,player,total_0,total_1,total_2,total_3,total_4,total_5,total_6,total
105,-1,-1,-1,0,1,0,1,0,0,0,...,0,1,0,0,0,7,0,0,0,7
2914,-1,-1,-1,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,6,6
2988,-1,-1,0,-1,0,1,0,0,0,0,...,0,-1,0,0,4,0,0,2,0,6

In [33]:
data['total_0'] = data['total_0'].div(data['total'])
data['total_1'] = data['total_1'].div(data['total'])
data['total_2'] = data['total_2'].div(data['total'])
data['total_3'] = data['total_3'].div(data['total'])
data['total_4'] = data['total_4'].div(data['total'])
data['total_5'] = data['total_5'].div(data['total'])
data['total_6'] = data['total_6'].div(data['total'])
data.loc[data['total'] > 5].head(10)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_41,player,total_0,total_1,total_2,total_3,total_4,total_5,total_6,total
105,-1,-1,-1,0,1,0,1,0,0,0,...,0,1,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,7
2914,-1,-1,-1,1,1,1,0,0,0,0,...,0,1,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,6
2988,-1,-1,0,-1,0,1,0,0,0,0,...,0,-1,0.0,0.0,0.666667,0.000000,0.000000,0.333333,0.000000,6
2990,-1,-1,0,-1,0,1,0,0,0,0,...,0,1,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,11
3156,-1,-1,0,-1,1,0,0,0,0,0,...,0,1,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,8
3166,-1,-1,0,-1,1,0,0,0,0,0,...,0,1,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,9
3299,-1,-1,0,-1,1,1,0,0,0,0,...,0,-1,0.0,0.0,0.833333,0.166667,0.000000,0.000000,0.000000,6
3306,-1,-1,0,-1,1,1,0,0,0,0,...,0,1,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,7
3461,-1,-1,0,0,0,0,1,0,0,0,...,0,1,0.0,0.0,0.181818,0.454545,0.181818,0.000000,0.181818,11
3464,-1,-1,0,0,0,0,1,0,0,0,...,0,1,0.0,0.0,0.166667,0.000000,0.333333,0.000000,0.500000,6

In [34]:
# Most common winning column is the choosen column
m = np.zeros_like(data[['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5', 'total_6']].values)
m[np.arange(len(data[['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5', 'total_6']])), data[['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5', 'total_6']].values.argmax(1)] = 1
df1 = pd.DataFrame(m, columns = [['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5', 'total_6']]).astype(int)
data['total_0'] = df1['total_0']
data['total_1'] = df1['total_1']
data['total_2'] = df1['total_2']
data['total_3'] = df1['total_3']
data['total_4'] = df1['total_4']
data['total_5'] = df1['total_5']
data['total_6'] = df1['total_6']
data.loc[data['total'] > 5].head(10)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_41,player,total_0,total_1,total_2,total_3,total_4,total_5,total_6,total
105,-1,-1,-1,0,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,7
2914,-1,-1,-1,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,6
2988,-1,-1,0,-1,0,1,0,0,0,0,...,0,-1,0,0,1,0,0,0,0,6
2990,-1,-1,0,-1,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,11
3156,-1,-1,0,-1,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,8
3166,-1,-1,0,-1,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,9
3299,-1,-1,0,-1,1,1,0,0,0,0,...,0,-1,0,0,1,0,0,0,0,6
3306,-1,-1,0,-1,1,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,7
3461,-1,-1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,11
3464,-1,-1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,6

In [35]:
data = data.drop(columns=["total"])
data.to_csv('board_data2.csv', index=False)

# Prepare model

In [1]:
import pandas as pd

data = pd.read_csv('board_data2.csv')
data.head(3)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_40,current_41,player,total_0,total_1,total_2,total_3,total_4,total_5,total_6
0,-1,-1,-1,0,-1,1,-1,0,0,0,...,0,0,-1,0,0,0,1,0,0,0
1,-1,-1,-1,0,-1,1,0,0,1,0,...,0,0,-1,0,0,0,1,0,0,0
2,-1,-1,-1,0,-1,1,1,-1,0,0,...,0,0,-1,0,0,0,1,0,0,0

In [2]:
from sklearn.model_selection import train_test_split
from numpy.random import seed
seed(1746890)
from tensorflow.random import set_seed
set_seed(1746890)

train, test = train_test_split(data, test_size=0.2, random_state=1746890, shuffle=True)

column_names = []
for i in range(6*7):
    column_names.append("current_" + str(i))
column_names.append("player")

X_train = train.drop(columns=["total_0", "total_1", "total_2", "total_3", "total_4", "total_5", "total_6"], axis=1)
X_test = test.drop(columns=["total_0", "total_1", "total_2", "total_3", "total_4", "total_5", "total_6"], axis=1)
Y_train = train.drop(columns=column_names, axis=1)
Y_test = test.drop(columns=column_names, axis=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(184166, 43)
(46042, 43)
(184166, 7)
(46042, 7)

In [3]:
Y_train.head(3)

        total_0  total_1  total_2  total_3  total_4  total_5  total_6
21612         0        0        0        0        0        0        1
224989        0        1        0        0        0        0        0
170878        0        0        0        1        0        0        0

In [4]:
X_train = X_train.values
X_test = X_test.values
Y_train = Y_train.values
Y_test = Y_test.values
print(X_train)

[[-1  0 -1 ...  0  0  1]
 [ 1  1  0 ...  0  0 -1]
 [ 1 -1 -1 ...  0  0  1]
 ...
 [ 0  1 -1 ...  0  0 -1]
 [ 0  0 -1 ...  0  0 -1]
 [ 0 -1  0 ...  0  0  1]]

In [5]:
from tensorflow import keras

inputs = keras.Input(shape=X_train.shape[1])
hidden_layer = keras.layers.Dense(128, activation="sigmoid")(inputs)
hidden_layer = keras.layers.Dense(128, activation="sigmoid")(hidden_layer)
output_layer = keras.layers.Dense(7, activation="softmax")(hidden_layer)

model = keras.Model(inputs=inputs, outputs=output_layer)
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 43)]              0

 dense (Dense)               (None, 128)               5632

 dense_1 (Dense)             (None, 128)               16512

 dense_2 (Dense)             (None, 7)                 903

=================================================================
Total params: 23,047
Trainable params: 23,047
Non-trainable params: 0
_________________________________________________________________

In [6]:
model.compile(optimizer='adam', loss=keras.losses.CategoricalCrossentropy(), metrics=['Accuracy'])

In [7]:
history = model.fit(X_train, Y_train, epochs=100, validation_data=[X_test, Y_test])

Epoch 1/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.9079 - Accuracy: 0.1816 - val_loss: 1.9034 - val_Accuracy: 0.1845
Epoch 2/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.8861 - Accuracy: 0.2019 - val_loss: 1.8549 - val_Accuracy: 0.2292
Epoch 3/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.8061 - Accuracy: 0.2768 - val_loss: 1.7658 - val_Accuracy: 0.3029
Epoch 4/100
5756/5756 [==============================] - 18s 3ms/step - loss: 1.7364 - Accuracy: 0.3205 - val_loss: 1.7210 - val_Accuracy: 0.3212
Epoch 5/100
5756/5756 [==============================] - 18s 3ms/step - loss: 1.6951 - Accuracy: 0.3359 - val_loss: 1.6748 - val_Accuracy: 0.3396
Epoch 6/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.6503 - Accuracy: 0.3551 - val_loss: 1.6364 - val_Accuracy: 0.3584
Epoch 7/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.6154 - Accuracy: 0.3701 - val_loss: 1.6119 - val_Accuracy: 0.3698
Epoch 8/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5939 - Accuracy: 0.3778 - val_loss: 1.5941 - val_Accuracy: 0.3759
Epoch 9/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5786 - Accuracy: 0.3852 - val_loss: 1.5849 - val_Accuracy: 0.3802
Epoch 10/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5670 - Accuracy: 0.3906 - val_loss: 1.5758 - val_Accuracy: 0.3836
Epoch 11/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5573 - Accuracy: 0.3948 - val_loss: 1.5724 - val_Accuracy: 0.3829
Epoch 12/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5494 - Accuracy: 0.3978 - val_loss: 1.5633 - val_Accuracy: 0.3923
Epoch 13/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5413 - Accuracy: 0.4012 - val_loss: 1.5596 - val_Accuracy: 0.3920
Epoch 14/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5338 - Accuracy: 0.4046 - val_loss: 1.5561 - val_Accuracy: 0.3932
Epoch 15/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5272 - Accuracy: 0.4075 - val_loss: 1.5527 - val_Accuracy: 0.3958
Epoch 16/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.5201 - Accuracy: 0.4120 - val_loss: 1.5496 - val_Accuracy: 0.3969
Epoch 17/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5131 - Accuracy: 0.4157 - val_loss: 1.5486 - val_Accuracy: 0.3989
Epoch 18/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.5059 - Accuracy: 0.4192 - val_loss: 1.5410 - val_Accuracy: 0.4029
Epoch 19/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4991 - Accuracy: 0.4223 - val_loss: 1.5388 - val_Accuracy: 0.4044
Epoch 20/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4927 - Accuracy: 0.4257 - val_loss: 1.5304 - val_Accuracy: 0.4061
Epoch 21/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4872 - Accuracy: 0.4287 - val_loss: 1.5319 - val_Accuracy: 0.4059
Epoch 22/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.4813 - Accuracy: 0.4310 - val_loss: 1.5249 - val_Accuracy: 0.4105
Epoch 23/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4763 - Accuracy: 0.4334 - val_loss: 1.5288 - val_Accuracy: 0.4083
Epoch 24/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4715 - Accuracy: 0.4341 - val_loss: 1.5239 - val_Accuracy: 0.4119
Epoch 25/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4669 - Accuracy: 0.4368 - val_loss: 1.5243 - val_Accuracy: 0.4105
Epoch 26/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4630 - Accuracy: 0.4394 - val_loss: 1.5229 - val_Accuracy: 0.4127
Epoch 27/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4597 - Accuracy: 0.4398 - val_loss: 1.5181 - val_Accuracy: 0.4129
Epoch 28/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.4561 - Accuracy: 0.4417 - val_loss: 1.5247 - val_Accuracy: 0.4105
Epoch 29/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4525 - Accuracy: 0.4434 - val_loss: 1.5151 - val_Accuracy: 0.4148
Epoch 30/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4492 - Accuracy: 0.4450 - val_loss: 1.5194 - val_Accuracy: 0.4133
Epoch 31/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4464 - Accuracy: 0.4459 - val_loss: 1.5201 - val_Accuracy: 0.4143
Epoch 32/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4430 - Accuracy: 0.4465 - val_loss: 1.5133 - val_Accuracy: 0.4176
Epoch 33/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4404 - Accuracy: 0.4489 - val_loss: 1.5198 - val_Accuracy: 0.4167
Epoch 34/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4376 - Accuracy: 0.4496 - val_loss: 1.5164 - val_Accuracy: 0.4181
Epoch 35/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4352 - Accuracy: 0.4510 - val_loss: 1.5175 - val_Accuracy: 0.4162
Epoch 36/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4323 - Accuracy: 0.4517 - val_loss: 1.5192 - val_Accuracy: 0.4160
Epoch 37/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4304 - Accuracy: 0.4535 - val_loss: 1.5156 - val_Accuracy: 0.4180
Epoch 38/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4277 - Accuracy: 0.4541 - val_loss: 1.5133 - val_Accuracy: 0.4193
Epoch 39/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4253 - Accuracy: 0.4552 - val_loss: 1.5157 - val_Accuracy: 0.4182
Epoch 40/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4235 - Accuracy: 0.4558 - val_loss: 1.5163 - val_Accuracy: 0.4182
Epoch 41/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4212 - Accuracy: 0.4578 - val_loss: 1.5177 - val_Accuracy: 0.4185
Epoch 42/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4194 - Accuracy: 0.4577 - val_loss: 1.5148 - val_Accuracy: 0.4193
Epoch 43/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4177 - Accuracy: 0.4588 - val_loss: 1.5177 - val_Accuracy: 0.4197
Epoch 44/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4159 - Accuracy: 0.4601 - val_loss: 1.5182 - val_Accuracy: 0.4194
Epoch 45/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4138 - Accuracy: 0.4608 - val_loss: 1.5173 - val_Accuracy: 0.4211
Epoch 46/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4121 - Accuracy: 0.4606 - val_loss: 1.5143 - val_Accuracy: 0.4221
Epoch 47/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4105 - Accuracy: 0.4623 - val_loss: 1.5178 - val_Accuracy: 0.4195
Epoch 48/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4086 - Accuracy: 0.4620 - val_loss: 1.5181 - val_Accuracy: 0.4202
Epoch 49/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4069 - Accuracy: 0.4636 - val_loss: 1.5227 - val_Accuracy: 0.4194
Epoch 50/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4056 - Accuracy: 0.4645 - val_loss: 1.5217 - val_Accuracy: 0.4204
Epoch 51/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4038 - Accuracy: 0.4646 - val_loss: 1.5195 - val_Accuracy: 0.4227
Epoch 52/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4027 - Accuracy: 0.4655 - val_loss: 1.5217 - val_Accuracy: 0.4205
Epoch 53/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.4015 - Accuracy: 0.4658 - val_loss: 1.5214 - val_Accuracy: 0.4209
Epoch 54/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3995 - Accuracy: 0.4670 - val_loss: 1.5226 - val_Accuracy: 0.4205
Epoch 55/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3981 - Accuracy: 0.4673 - val_loss: 1.5233 - val_Accuracy: 0.4180
Epoch 56/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3971 - Accuracy: 0.4679 - val_loss: 1.5243 - val_Accuracy: 0.4193

Epoch 57/100
5756/5756 [==============================] - 18s 3ms/step - loss: 1.3955 - Accuracy: 0.4685 - val_loss: 1.5245 - val_Accuracy: 0.4200
Epoch 58/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3942 - Accuracy: 0.4690 - val_loss: 1.5231 - val_Accuracy: 0.4214
Epoch 59/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3932 - Accuracy: 0.4702 - val_loss: 1.5291 - val_Accuracy: 0.4206
Epoch 60/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3919 - Accuracy: 0.4703 - val_loss: 1.5278 - val_Accuracy: 0.4208
Epoch 61/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3906 - Accuracy: 0.4701 - val_loss: 1.5254 - val_Accuracy: 0.4211
Epoch 62/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.3900 - Accuracy: 0.4711 - val_loss: 1.5297 - val_Accuracy: 0.4188
Epoch 63/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.3887 - Accuracy: 0.4707 - val_loss: 1.5312 - val_Accuracy: 0.4208
Epoch 64/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3873 - Accuracy: 0.4716 - val_loss: 1.5296 - val_Accuracy: 0.4206
Epoch 65/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3863 - Accuracy: 0.4722 - val_loss: 1.5306 - val_Accuracy: 0.4203
Epoch 66/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3857 - Accuracy: 0.4728 - val_loss: 1.5295 - val_Accuracy: 0.4207
Epoch 67/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3845 - Accuracy: 0.4733 - val_loss: 1.5346 - val_Accuracy: 0.4184
Epoch 68/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3834 - Accuracy: 0.4737 - val_loss: 1.5352 - val_Accuracy: 0.4178
Epoch 69/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3823 - Accuracy: 0.4737 - val_loss: 1.5339 - val_Accuracy: 0.4210
Epoch 70/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3816 - Accuracy: 0.4748 - val_loss: 1.5307 - val_Accuracy: 0.4207
Epoch 71/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3807 - Accuracy: 0.4742 - val_loss: 1.5347 - val_Accuracy: 0.4198
Epoch 72/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3798 - Accuracy: 0.4758 - val_loss: 1.5401 - val_Accuracy: 0.4159
Epoch 73/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3789 - Accuracy: 0.4755 - val_loss: 1.5406 - val_Accuracy: 0.4175
Epoch 74/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3778 - Accuracy: 0.4754 - val_loss: 1.5348 - val_Accuracy: 0.4186
Epoch 75/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3769 - Accuracy: 0.4766 - val_loss: 1.5389 - val_Accuracy: 0.4187
Epoch 76/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3763 - Accuracy: 0.4760 - val_loss: 1.5362 - val_Accuracy: 0.4196
Epoch 77/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3753 - Accuracy: 0.4768 - val_loss: 1.5412 - val_Accuracy: 0.4186
Epoch 78/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3752 - Accuracy: 0.4766 - val_loss: 1.5362 - val_Accuracy: 0.4201
Epoch 79/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.3741 - Accuracy: 0.4778 - val_loss: 1.5372 - val_Accuracy: 0.4186
Epoch 80/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3730 - Accuracy: 0.4778 - val_loss: 1.5394 - val_Accuracy: 0.4179
Epoch 81/100
5756/5756 [==============================] - 19s 3ms/step - loss: 1.3722 - Accuracy: 0.4784 - val_loss: 1.5454 - val_Accuracy: 0.4175
Epoch 82/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3715 - Accuracy: 0.4786 - val_loss: 1.5446 - val_Accuracy: 0.4164
Epoch 83/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3707 - Accuracy: 0.4792 - val_loss: 1.5429 - val_Accuracy: 0.4180
Epoch 84/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3702 - Accuracy: 0.4792 - val_loss: 1.5432 - val_Accuracy: 0.4176
Epoch 85/100
5756/5756 [==============================] - 20s 3ms/step - loss: 1.3700 - Accuracy: 0.4792 - val_loss: 1.5424 - val_Accuracy: 0.4170
Epoch 86/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3691 - Accuracy: 0.4808 - val_loss: 1.5432 - val_Accuracy: 0.4184
Epoch 87/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3684 - Accuracy: 0.4796 - val_loss: 1.5459 - val_Accuracy: 0.4169
Epoch 88/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3674 - Accuracy: 0.4809 - val_loss: 1.5491 - val_Accuracy: 0.4203
Epoch 89/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3669 - Accuracy: 0.4805 - val_loss: 1.5484 - val_Accuracy: 0.4146
Epoch 90/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3659 - Accuracy: 0.4803 - val_loss: 1.5492 - val_Accuracy: 0.4155
Epoch 91/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3657 - Accuracy: 0.4820 - val_loss: 1.5502 - val_Accuracy: 0.4167
Epoch 92/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3647 - Accuracy: 0.4815 - val_loss: 1.5530 - val_Accuracy: 0.4156
Epoch 93/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3648 - Accuracy: 0.4809 - val_loss: 1.5508 - val_Accuracy: 0.4165
Epoch 94/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3640 - Accuracy: 0.4821 - val_loss: 1.5501 - val_Accuracy: 0.4177
Epoch 95/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3629 - Accuracy: 0.4825 - val_loss: 1.5567 - val_Accuracy: 0.4173
Epoch 96/100
5756/5756 [==============================] - 20s 4ms/step - loss: 1.3626 - Accuracy: 0.4828 - val_loss: 1.5577 - val_Accuracy: 0.4163
Epoch 97/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3621 - Accuracy: 0.4829 - val_loss: 1.5592 - val_Accuracy: 0.4164
Epoch 98/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3614 - Accuracy: 0.4834 - val_loss: 1.5565 - val_Accuracy: 0.4168
Epoch 99/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3605 - Accuracy: 0.4847 - val_loss: 1.5549 - val_Accuracy: 0.4159
Epoch 100/100
5756/5756 [==============================] - 21s 4ms/step - loss: 1.3607 - Accuracy: 0.4831 - val_loss: 1.5571 - val_Accuracy: 0.4185

In [10]:
model.save('model3')

INFO:tensorflow:Assets written to: model3\assets

In [11]:
from tensorflow import keras
pretrained_model = keras.models.load_model('model3')

In [12]:
board = [[0,1,1,1,-1,-1,0],[0,0,-1,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0], [-1]]
flat_board = [item for sublist in board for item in sublist]
pred = model.predict([flat_board])
print(pred)

[[9.52892065e-01 3.17513739e-04 1.12183085e-02 2.88053863e-02
  4.77140537e-03 1.49733853e-03 4.98045119e-04]]

In [13]:
import numpy as np
pred_column = np.array(pred[0]).argmax()
pred_chance = pred[0][pred_column] * 100
print('column {} with {:.2f}%'.format(pred_column, pred_chance))

column 0 with 95.29%