# Prepare data

In [33]:
import pandas as pd
columns = ['game id', 'move id', 'player id', 'column', 'winner']
data = pd.read_csv('c4-10k.csv', header=None, names=columns)
data.head(20)

    game id  move id  player id  column  winner
0        17        0         -1       3      -1
1        17        1          1       4      -1
2        17        2         -1       0      -1
3        17        3          1       4      -1
4        17        4         -1       2      -1
5        17        5          1       4      -1
6        17        6         -1       1      -1
7        11        0          1       3       1
8        11        1         -1       3       1
9        11        2          1       6       1
10       11        3         -1       6       1
11       11        4          1       6       1
12       11        5         -1       3       1
13       11        6          1       4       1
14       11        7         -1       2       1
15       11        8          1       5       1
16        6        0         -1       2      -1
17        6        1          1       1      -1
18        6        2         -1       2      -1
19        6        3          1       3      -1

In [34]:
column_names = []
for i in range(6*7):
    column_names.append("current_" + str(i))
column_names.append("nextmove column")
board_df = pd.DataFrame(columns=column_names)
board_df.describe()

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_33,current_34,current_35,current_36,current_37,current_38,current_39,current_40,current_41,nextmove column
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
def generate_boards():
    for game_id in data['game id'].unique():
        current_board = [[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0]]
        for move_id in data.loc[data['game id'] == game_id]['move id'].unique():
            next_board = current_board.copy()
            
            # update next board
            column = data.loc[(data['game id'] == game_id) & (data['move id'] == move_id)]['column'].unique()[0].item()
            player = data.loc[(data['game id'] == game_id) & (data['move id'] == move_id)]['player id'].unique()[0].item()
            winner = data.loc[data['game id'] == game_id]['winner'].unique()[0].item()
            for row in range(6):
                if next_board[row][column] == 0:
                    next_board[row][column] = player
                    break
            
            # if next board move comes from a winning player keep data
            if player == winner:
                full_board = current_board.copy()
                full_board.append([column])
                flat_board = [item for sublist in full_board for item in sublist]
                board_df.loc[len(board_df)] = flat_board
            
            # set the new move as the next current move
            current_board = next_board.copy()

In [36]:
generate_boards()

In [37]:
board_df.head(10)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_33,current_34,current_35,current_36,current_37,current_38,current_39,current_40,current_41,nextmove column
0,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,-1,0,0,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,0,-1,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,-1,-1,-1,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6
7,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
8,0,0,-1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,5
9,0,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [38]:
board_df.to_csv('board_data.csv', index=False)

# Prepare model

In [37]:
import pandas as pd

data = pd.read_csv('board_data.csv')
data.head(3)

,current_0,current_1,current_2,current_3,current_4,current_5,current_6,current_7,current_8,current_9,...,current_33,current_34,current_35,current_36,current_37,current_38,current_39,current_40,current_41,nextmove column
0,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,-1,0,0,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,0,-1,-1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [38]:
from sklearn.model_selection import train_test_split
from numpy.random import seed
seed(1746890)
from tensorflow.random import set_seed
set_seed(1746890)

train, test = train_test_split(data, test_size=0.2, random_state=1746890, shuffle=True)

X_train = train.loc[:, data.columns != 'nextmove column']
X_test = test.loc[:, data.columns != 'nextmove column']
Y_train = train['nextmove column']
Y_test = test['nextmove column']
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(63978, 42)
(15995, 42)
(63978,)
(15995,)

In [39]:
# one hot encode the columns
Y_train = pd.get_dummies(Y_train)
Y_test = pd.get_dummies(Y_train)

In [40]:
Y_train.head(3)

       0  1  2  3  4  5  6
327    0  0  1  0  0  0  0
7014   0  0  0  0  0  0  1
23433  0  0  1  0  0  0  0

In [41]:
X_train = X_train.values
X_test = X_test.values
Y_train = Y_train.values
Y_test = Y_test.values
print(X_train)

[[ 0  1 -1 ...  0  0  0]
 [ 0  1 -1 ...  0  0  1]
 [-1 -1  1 ...  0  0  0]
 ...
 [ 0 -1  1 ...  0  0  0]
 [ 0 -1 -1 ...  0  0  0]
 [-1 -1  0 ...  0  0  0]]

In [45]:
from tensorflow import keras

inputs = keras.Input(shape=X_train.shape[1])
hidden_layer = keras.layers.Dense(10, activation="relu")(inputs)
output_layer = keras.layers.Dense(7, activation="softmax")(hidden_layer)

model = keras.Model(inputs=inputs, outputs=output_layer)
model.summary()

Model: "model_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_5 (InputLayer)        [(None, 42)]              0

 dense_8 (Dense)             (None, 10)                430

 dense_9 (Dense)             (None, 7)                 77

=================================================================
Total params: 507
Trainable params: 507
Non-trainable params: 0
_________________________________________________________________

In [46]:
model.compile(optimizer='adam', loss=keras.losses.CategoricalCrossentropy())

In [47]:
history = model.fit(X_train, Y_train, epochs=10)

Epoch 1/10
2000/2000 [==============================] - 5s 2ms/step - loss: 1.8658
Epoch 2/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.7566
Epoch 3/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.6748
Epoch 4/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.6296
Epoch 5/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.6044
Epoch 6/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.5877
Epoch 7/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.5765
Epoch 8/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.5680
Epoch 9/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.5612
Epoch 10/10
2000/2000 [==============================] - 4s 2ms/step - loss: 1.5556

In [49]:
model.save('model1')

INFO:tensorflow:Assets written to: model1\assets

In [50]:
from tensorflow import keras
pretrained_model = keras.models.load_model('model1')

In [62]:
board = [[0,0,0,-1,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0]]
flat_board = [item for sublist in board for item in sublist]
pred = pretrained_model.predict([flat_board])
print(pred)

[[0.0623577  0.10340664 0.01839061 0.37915295 0.01760218 0.20180982
  0.21728009]]

In [63]:
import numpy as np
pred_column = np.array(pred[0]).argmax()
pred_chance = pred[0][pred_column] * 100
print('column {} with {:.2f}%'.format(pred_column, pred_chance))

column 3 with 37.92%